html,
body {
  min-height: 100%;
}
.content_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* otpInputs.css */

.digitGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.digitGroup input {
  outline: 0 !important;
  user-select: none !important;
  width: 50px;
  height: 50px;
  background-color: #fff;
  font-weight: bold !important;
  border-radius: 5px;
  border: 1px solid #887f7f;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #000;
  margin: 0;
}

.digitGroup input:focus {
  border: 2px solid #887f7f !important;
}

.digitGroup input:active {
  border: 2px solid #887f7fdd !important;
}

.digitGroup .splitter {
  padding: 5px 0;
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin: 0;
}

.prompt {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.formSection {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
  padding: 20px;
}

.w-100 {
  width: 100%;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .digitGroup {
    gap: 5px !important;
  }
  .digitGroup input {
    width: 40px !important;
  }
  .digitGroup .splitter {
    font-size: 25px !important;
  }
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

















html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}



.MuiGrid-container .card{
  background-color: #00357d;
  color: white;
  border-radius: 7px;
  height: 100%;
  padding: 20px 25px !important;
}
.MuiGrid-container .MuiGrid-item:first-child .card{
  background-color: #000d2f;
}
.cards {
  margin: 30px 0;
}
.cards .MuiGrid-container{
  align-items: stretch;
}
.card .indication{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h4{
  margin: 0;
}
.card .number{
  margin: 10 auto;
}
.card .indication span:nth-child(2){
  font-size: 12px;
}
.pagination_center_cover{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination_center_cover ul li button{
  background-color: transparent;
  border: 1px solid #000d2f;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000d2f;
  outline: none;
  border-radius: none;
  font-size: 20px;
}
.pagination_center_cover ul li button.css-1sqjbgc-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
  background-color: transparent;
}
.userform_cover{
  max-width: 500px;
  text-align: center;
  margin: auto;
}
.userform_cover .MuiFormControl-root.css-1nrlq1o-MuiFormControl-root{
  width: 100%;
}
.form_btn{
  background-color: #081f3f;
  color: white;
  border: none;
  border-radius: 30px;
  max-width: 200px;
  padding: 16px 30px;
  width: 100%;
}




html,
body {
  min-height: 100%;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.font {
  font-weight: 600;
  font-size: 18px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* otpInputs.css */

.digitGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.digitGroup input {
  outline: 0 !important;
  user-select: none !important;
  width: 50px;
  height: 50px;
  background-color: #fff;
  font-weight: bold !important;
  border-radius: 5px;
  border: 1px solid #887f7f;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #000;
  margin: 0;
}

.digitGroup input:focus {
  border: 2px solid #887f7f !important;
}

.digitGroup input:active {
  border: 2px solid #887f7fdd !important;
}

.digitGroup .splitter {
  padding: 5px 0;
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin: 0;
}

.prompt {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.formSection {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
  padding: 20px;
}

.w-100 {
  width: 100%;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .digitGroup {
    gap: 5px !important;
  }
  .digitGroup input {
    width: 40px !important;
  }
  .digitGroup .splitter {
    font-size: 25px !important;
  }
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
.popup{
  position: absolute;
  top: 100px;
  max-width: 400px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f5fa;
  border: 1px solid #000d2f;
  border-radius: 20px;
  min-height: 400px;
  width: 100%;
  text-align: center;
}
.d-none{
  display: none !important;
}
.close_icon{
  position: absolute;
  top: 5px;
  font-size: 30px;
  right: 15px;
  background-color: transparent !important;
  border: none;
}